.jumbotron style="color:#FFF;  background:url(#{asset_path 'monolist.jpg'});  background-size:cover;"
  h1  Monolist
  = link_to '会員登録', signup_path, class: "btn btn-success btn-lg"

==render 'items/list',items: @items
