@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.narrow {
  max-width: 730px;
  margin: 0 auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/*footer*/

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
  margin-bottom: 15px;
}

/* tables */
.ui-selectee{
  background-color: #fff;
}

.ui-selected{
  background-color: #f7f;
}

.ui-selecting{
  background-color: #f7f;
}

/* calendar */
.sun{
  color: #f00;
}

.sat{
  color: #00f;
}

.today{
  color: #fff;
  background-color: #FF773E;
}

.calendarHd{
  background-color: #cccccc;
}

.active-date,.prev,.next{
  background-color: #808080;
}

table tbody td.tdlink:hover {
  color: #000;
  background-color: #0ff;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* items pages */

.item-box {
  width: 270px;
  margin: 15px;
  float: left;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  .image {
    width: 270px;
    height: 270px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 270px;
      height: 270px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 250px;
      }
    }
  }
  .detail {
    height: 55px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
    background: #fafafa;
    font-size: 13px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .title {
      margin: 0;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  .action {
    form {
      float: left;
      margin: 0 3px 0 0;
    }
  }
  &:hover {
    .action {
      display: block;
    }
  }
}
.item-single-main {
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  float: left;
  .image {
    width: 400px;
    height: 400px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 400px;
      height: 400px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 380px;
      }
    }
  }
  .title {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &:hover {
    .action {
      display: block;
    }
  }
}

.action {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  .btn {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .btn-sm {
    margin: 0 5px 0 0;
  }
  .want {
    &:before {
      content: "Want";
    }
  }
  .have {
    &:before {
      content: "Have";
    }
  }
  .want_it {
    background-color: #5cb85c;
    border-color: darken(#5cb85c, 5%);
    &:before {
      content: "Want it";
    }
  }
  .have_it {
    background-color: #5cb85c;
    border-color: darken(#5cb85c, 5%);
    &:before {
      content: "Have it";
    }
  }
}

.item-single-side {
  width: 380px;
  float: right;
  .side-box {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    .side-box-title {
      margin: 0;
      padding: 10px 15px;
      font-weight: normal;
      background: #fafafa;
      border: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    .side-box-body {
      padding: 15px;
      .gravatar {
        img {
          margin: 2px;
        }
      }
    }
  }
}
